POSTGRES_LESSON_DB=
POSTGRES_LESSON_USER=
POSTGRES_LESSON_PASSWORD=

# Content Generator (API de IA) - obtenha as credenciais com o administrador da plataforma
CONTENT_GENERATOR_ACCESS_KEY=
CONTENT_GENERATOR_SECRET=
CONTENT_GENERATOR_TENANT_NAME=
